
/* //////////////////////////////////////////////////////////////////////////////// */
/* MAIN HEADER*/

.header{
    background-color: #7f6ced;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    overflow: hidden;
    padding: 10px 10px ;
    content: initial-scale;
    height: 100px;

}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 3px;
    margin-top: -10px;
    word-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header a:hover {
    text-decoration: underline;
    text-align: center;
}

.header a.active {
    color: #ffffff;
    text-decoration: underline;
}

.header-right {
    float: right;
    margin-top: 40px;
    justify-content: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}


.main-logo{
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

/* //////////////////////////////// */
/*MAIN LOGO*/
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.main-logo:hover,
.main-logo:focus {
    animation: pulse 2s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes main-logo {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}


.spacer {
    flex: 1 1 auto;
}


.signup-button{
    box-shadow: 2px 2px 2px #7f6ced;
    background-color: #ffffff;
    color: #7f6ced;
    font-size: 20px;
    border-radius: 5px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';*/
    margin-top: -600px;
    margin-right: 50px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.signup-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.signup-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.signup-button:hover span {
    padding-right: 25px;
}

.signup-button:hover span:after {
    opacity: 1;
    right: 0;
}



.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    /*font-size: 17px;*/
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: #7f6ced;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*/////////////////*/


.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #a9a9a9;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #a9a9a9;
    /*text-decoration: underline;*/
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #a9a9a9;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #7f6ced;
    /*text-decoration: underline;*/
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: black;
    /*text-decoration: underline;*/
    box-shadow: 3px;
}

.navbar.active .navbar-brand {
    color: #7f6ced;
    /*text-decoration: underline;*/
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #a9a9a9;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: grey;
        /*text-decoration: underline;*/
    }
}




/* //////////////////////////////////////////////////////////////////////////////// */
/* DASHBOARD HEADER*/

.topnav {
    overflow: hidden;
    background-color: #7f6ced;
    margin-bottom: -20px;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 50px;
}

.active {
    /*background-color: #f2f2f2;*/
    color: #7f6ced;
    /*border-radius: 50%;*/
    height: 50px;
    margin-right: 30px;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    /*background-color: inherit;*/
    /*font-family: inherit;*/
    /*margin: 0;*/
    /*display: none;*/
    /*position: absolute;*/
    /*right: 0;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: right;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* FOOTER*/

.bg-grey {
    background: #7f6ced;
}
.logo-footer {
    margin-bottom: 40px;
}
footer {
    color: white;
}
footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: white;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: white;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}
.btn-footer:hover {

    text-decoration: none;

}
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
.form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: white;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
.social .fa {
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
    border-radius: 50%;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul  {
    padding-left: 0;
}
footer ul  li a{
    text-decoration: none;
    color: white;
    text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

/* Credit to https://bootsnipp.com/snippets/M56El  */